.page-login{

    min-height: 100vh;
    background: linear-gradient(135deg, #d1904a, #eff0f5);
    position: relative;
    overflow: hidden;
    

    
    .corpo{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        font-size: 13.5px;
       
    }
    form{
        width: 420px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 30px 40px;
        box-shadow: 5px 5px 15px  gray;


        h1{
            display: flex;
            justify-content: center;
            padding: 5px;
           
        }

        p{
            justify-content: center;
            display: flex;
            padding-bottom: 10px;
        }
        .input input{
            width: 100%;
            padding: 7px;
            height: 50px;
            border-radius: 55px;
            border: 1px solid black;
            text-indent: 10px;
            padding-left: 35px;

        }
        .input{
            width: 100%;
            margin-bottom: 17px;
            position: relative;
            
        }
        
       
        .input-senha {
             margin-right: 8px;
        }




        .Login {
            width: 100%;
            margin-bottom: 17px;
            margin-top: 17px;
            padding: 12px;
            border-radius: 55px;
            border: none;
            background-color: var(--corLaranjaContraste);
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
       
        #senha{
            padding-left: 10px;
            width: 100%;
           
        }
        .Cadastrar{
            justify-content: center;
            display: flex;
           
        }
        .Cadastrar p{
            gap: 10px;
        }

        .input input::placeholder{
            text-indent: 10px;
        }
        .olhoBotao {
            position: absolute;
            right: 15px;
            top: 55%;
            transform: translateY(-50%);
            border: none;
            background: transparent;
            cursor: pointer;
            color: #777;
            font-size: 20px;
        }

       .icone-email,.icone-senha {
            position: absolute;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
            color: #777;
            font-size: 18px;
            z-index: 2;
        }

        
        
    }

    
}