node_modules/

.env

src/uploads/ImagemAnimais/*
!src/uploads/ImagemAnimais/.gitkeep

src/uploads/ImagemOngs/*
!src/uploads/ImagemOngs/.gitkeep

src/uploads/ImagemUsuarios/*
!src/uploads/ImagemUsuarios/.gitkeep