.comp-header {
    max-width: 100%;
    max-height: 13.2rem;
    min-height: 12rem;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--corBrancoGeral);

    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.507);

    @media (max-width: 1150px) {
        padding-right: 3rem;
    }

    @media (max-width: 768px) {
        justify-content: center;
        align-items: center;

        max-height: 100%;
        position: relative;
    }

    .show-nav {
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }

    .identity {
        display: flex;
        align-items: center;
        justify-content: start;
        
        flex: 2;

        @media (max-width: 768px) {
            justify-content: start;
            flex: 3;
        }

        @media (max-width: 435px) {
            justify-content: start;
        }

        .imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 45%;
            min-width: 40%;
            
            @media (min-width: 1600px) {
                max-width: 33%;
                min-width: 30%;
            }

            @media (max-width: 768px) {
                align-items: start;
                justify-content: start;
                
                min-width: 15%;
                max-width: 25%;
            }

            @media (max-width: 435px) {
                min-width: 42%;
            }
        }

        .title {
            color: var(--corAzulPrimario);
            font-size: 1.4rem;
            text-align: center;

            @media (max-width: 835px) {
                font-size: 1.14rem;
            }
    
            h1 {
                font-family: var(--fonteTitulo);
                font-weight: normal;
    
                span {
                    color: var(--corLaranjaContraste);
                    font-family: var(--fonteTitulo);
                }

                @media (max-width: 768px) {
                    font-size: 2rem;
                }

                @media (max-width: 435px) {
                    font-size: 1.85rem;
                }
            }
        }
    }

    .default-nav {
        flex: 4;

        @media (max-width: 768px) {
            display: none;
        }
    }


    .default-nav ul {
        display: flex;
        justify-content: center;

        list-style: none;
        padding: 0;

        li {
            margin: 0 1rem;
            font-size: 1.5rem;

            @media (max-width: 998px) {
                font-size: 1.2rem;
            }

            @media (max-width: 835px) {
                font-size: 1.14rem;
            }

        }

        li p:hover {
            color: var(--corLaranjaContraste);
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;
        flex: 2;

        @media (max-width: 435px) {
            flex-direction: column;
        }

        @media (max-width: 835px) {
            gap: .5rem;
        }

        button {
            background-color: var(--corAzulSecundario);
            color: white;
            font-weight: bold;

            padding: 1rem 2rem;
            border-radius: 1rem;
            border: 1px solid var(--corAzulSecundario);

            @media (max-width: 435px) {
                width: 100%;
                padding: .5rem 1rem;
                margin-right: 1.5rem;
            }
        }

        button:hover {
            cursor: pointer;
            opacity: .85;
        }

        #cadastro {
            background-color: transparent;
            color: var(--corLaranjaContraste);
            border: 1px solid var(--corLaranjaContraste);
        }
    }
}