.comp-header {
    max-width: 100%;
    max-height: 13.2rem;
    min-height: 12rem;

    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--corBrancoGeral);

    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.507);

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: start;
        align-items: start;

        max-height: 100%;
        position: relative;
    }

    .identity {
        display: flex;
        align-items: center;
        justify-content: center;
        
        flex: 2;

        @media (max-width: 768px) {
            justify-content: start;
        }

        .imagem {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 45%;
            min-width: 40%;
    
            @media (max-width: 768px) {
                align-items: start;
                justify-content: start;
                
                min-width: 15%;
                max-width: 25%;
            }
        }

        .title {
            color: var(--corAzulPrimario);
            font-size: 1.4rem;
            text-align: center;
    
            h1 {
                font-family: var(--fonteTitulo);
                font-weight: normal;
    
                span {
                    color: var(--corLaranjaContraste);
                    font-family: var(--fonteTitulo);
                }

                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }
        }
    }

    nav {
        flex: 4;
    }

    .buttons {
        flex: 2;
    }


    nav ul {
        display: flex;
        justify-content: center;

        list-style: none;
        padding: 0;

        li {
            margin: 0 1rem;
            font-size: 1.5rem;
        }

        li p:hover {
            color: var(--corLaranjaContraste);
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        button {
            background-color: var(--corAzulSecundario);
            color: white;
            font-weight: bold;

            padding: 1rem 2rem;
            border-radius: 1rem;
            border: none;
        }

        button:hover {
            cursor: pointer;
            opacity: .85;
        }

        #cadastro {
            background-color: var(--corLaranjaSecundario);
        }
    }
}